footer
	div.container
		hr
		p
			a(href="http://fanfou.com/angelscat" target="_blank") angelscat
			| 2013


script(src="https://code.jquery.com/jquery-1.10.2.min.js")
script(src="/bootstrap/js/bootstrap.min.js")
