<footer>
	<div class="container">
		<hr />
		<p><a href="http://fanfou.com/angelscat" target="_blank">angelscat</a> 2013</p>
	</div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>