div.publish
	div.container
		form(role="form" method="post" action="/post").clearfix
			textarea(rows="3" placeholder="在做什么呢？" name="post").form-control
			button(type="submit").btn.btn-primary.btn-lg.pull-right 发布
		hr