<div class="publish">
	<div class="container">
		<form role="form" method="post" class="clearfix" action="/post">
			<textarea class="form-control" rows="3" placeholder="在做什么呢？" name="post"></textarea>
			<button type="submit" class="btn btn-primary btn-lg pull-right">发布</button>
		</form>
		<hr />
	</div>
</div>