html
	head
		include head
	body
		include header
		if user && user.name == username
			include publish
		div.container
			div.row
				each post in posts
					div.col-md-4
						h2
							a(href="/u/#{post.user}") #{post.user}
							|说：
						p
							small.text-muted #{post.time}
						p #{post.post}
		include footer
